<div class="format-actions">
  <button class="format-action" type="button" (click)="onClick('b')"><b>B</b></button>
  <button class="format-action" type="button" (click)="onClick('i')"><i>I</i></button>
  <button class="format-action" type="button" (click)="onClick('u')"><u>U</u></button>
</div>
