:host {
  background-color: #f1f0f0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

ul {
  background-color: #eee;
  border: 1px solid #e4dede;
  position: fixed;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

li {
  padding: 10px 10px 10px 10px;
}

li:hover {
  cursor: pointer;
  color: darkolivegreen;
  background-color: beige;
}

.file {
  width: 600px;
  line-height: 1.5;
  font-size: large;
  flex-grow: 1;
  background-color: #fff;
  border: 1px solid #e4dede;
  padding: 20px;
}
