<div class="file"
     contenteditable="true"
     (dblclick)="onDblClick()">
  {{text}}
</div>
<ul *ngIf="synonyms" [ngStyle]="style">
  <li *ngFor="let synonym of synonyms" (click)="changeWord(synonym.word)">{{synonym.word}}</li>
</ul>
